@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.text-shadow {
    text-shadow: 0px 0px 16px rgb(0, 136, 255);
}

.text-shadow-black {
    text-shadow: 0px 0px 16px rgb(0, 0, 0);
}

.text-shadow-white {
    text-shadow: 0px 0px 16px rgb(255, 255, 255);
}